{% if section.settings.enable_FAQs %}
  <section class="mt-0 mb-12 bg-neutral-200 py-12">
    <div class="mx-auto container">
      <div class="Q-items container max-w-5xl mx-auto">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'FAQ_item' %}
              {% if block.settings.question != blank %}
                <article class="Q-item mb-6 bg-white rounded-lg">
                  <div class="Q-title flex items-center gap-3 align-center p-4 border-b ">
                    <div class="Q-icon bg-black text-white text-center font-black py-1 min-w-16">Q</div>
                    <h3 class="font-black flex">{{ block.settings.question }}</h3>
                    <span class="ml-auto mr-4">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                      </svg>
                    </span>
                  </div>
                  <div class="Q-answer flex items-center gap-3  p-4">
                    <div class="A-icon bg-orange-400 text-white text-center font-black py-1 min-w-16">A</div>
                    <p>{{ block.settings.answer }}</p>
                  </div>
                </article>
              {% endif %}
          {% endcase %}

        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
  {
    "name": "FAQ template",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_FAQs",
        "label": "Enable FAQs",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "FAQ_item",
        "name": "FAQ Item",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question"
          }, {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ]
  }
{% endschema %}